@model Vidly.ViewModels.MoviesViewModel
@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="movies">Movies</h2>

    <ul>
        @foreach (var movie in Model.Movies)
        {
            <li>@movie.Name</li>
        }
    </ul>
